[submodule "buildroot"]
	path = buildroot
	url = git@10.2.24.98:amx_buildroot.git
[submodule "kernel"]
	path = kernel
	url = git@10.2.24.98:amx_kernel.git
[submodule "software"]
	path = software
	url = git@10.2.24.98:amx_software.git
[submodule "uboot"]
	path = uboot
	url = git@10.2.24.98:amx_uboot.git
